@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 64px;
    --line-height-primary: 1.5em;
    --line-height-small: 1.571em;
}

.body {
    scroll-behavior: smooth
}

/* main wrapper */
.main-wrapper {
    @apply px-3 mx-auto;
}

/* header Style */
.header-container {
    height: var(--header-height);
    border-bottom: 1px solid #eaeaea;
}

.nav-container .navigation-items .navigation-item a,
.nav-container .navigation-items .reference-container {
    @apply text-secondary block capitalize text-sm px-2.5 cursor-pointer hover:text-black;
}

.nav-container .navigation-items .input-button-container {
    @apply text-secondary block capitalize text-sm px-2.5 cursor-text border border-[#eaeaea] hover:text-black;
}

/* Sidebar Style */
.sidebar-container {
    position: sticky;
    overflow-y: scroll;
    flex-shrink: 0;
    background-color: #fff;
    max-height: calc(100vh - 64px);
    min-height: calc(100vh - 64px);
    max-width: 300px;
    width: 300px;
    top: 64px;
    padding: 20px;
    flex-shrink: 0;
}

.sidebar-inner-container a {
    @apply flex items-center text-sm text-secondary hover:text-black;
}

.sidebar-inner-container .item-container {
    @apply my-5;
}

.sidebar-inner-container .item-container:first-child {
    @apply mt-0;
}

.sidebar-container::-webkit-scrollbar {
    background: #fafafa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 8px;
    width: 8px;
}
.sidebar-container::-webkit-scrollbar-thumb {
    background: #eaeaea;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* main Section */
.main-section-container {
    margin-top: 64px;
    background: #fafafa;
    max-width: 1440px;
}

.main-section-container .page-title {
    font-size: 3rem;
    letter-spacing: -0.066875rem;
    font-weight: 700;
    line-height: 3.5rem;
}

.main-section-container p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 16px 0;
}

.main-section-container h2 {
    margin-top: 54px;
    font-size: 2rem;
    letter-spacing: -0.049375rem;
    font-weight: 600;
    line-height: 2.5rem;
}



.main-section-container p strong {
    font-weight: bold;
}

.main-section-container p a {
    @apply text-blue-500;
}

/* Scroll Highligh section */
.main-section-container .scroll-highlight-container {
    padding: 20px;
    z-index: 1;
    height: calc(100vh - var(--header-height));
    position: sticky;
    position: -webkit-sticky;
    top: 64px;
    flex-shrink: 0;
    transition: 0.16s;
    border-left: 1px solid #eaeaea;
    width: 300px;
}

.main-section-container .scroll-highlight-container a {
    display: block;
    color: #666;
    
    @apply hover:text-black capitalize my-4 text-sm ;
}
.main-section-container .scroll-highlight-container a.active {
    color: #000;
}

/* Footer Style */
.footer-links-inner-container a {
    display: block;
    color: #666;
    @apply hover:text-black capitalize;
}

.footer-links-inner-container a.active {
    color: #000;
}